/*
#CDCCC9
#5E6463
#591819
#CFCAC6
#5F5E60*/

.asideground {
  background-color: rgba(85, 81, 81, 0.6);
}

.da1stdnal {
  background-color: rgba(80, 80, 80, 0.5);

}
.da2nddnal {
  background-color: rgba(140, 140, 140, 0.5);

}
