.headpic {
  width: 100pt;
  height: 100pt;
}
.navbord {
  box-shadow: 0px 6px 12px rgba(0,0,0,.5);
}

.wrapper {
  min-height: 100vh;
}
.headfill {
  background-color: rgba(50, 50, 50, 0.5);
}

footer {
  height: 300px;
}

.teampic {
  width: 10000px !important;
  border-radius: 10px;
  border-style: outset;
  border: 10px white;

}
